@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
body {
  min-height: 100vh;
  background: url(./images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
}
.container {
  max-width: 375px;
}
.card {
  background: white;
  border-radius: 15px;
  margin: 0 10px;
  text-align: center;
}
.card-content {
  padding: 40px;
}
.hero-image {
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.text h2 {
  padding: 0 0 10px;
  color: hsl(223, 47%, 23%);
}
.text p {
  padding: 5px 0 15px;
  color: hsl(224, 23%, 55%);
}

.plan {
  background-color: hsl(225, 100%, 98%);
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 15px;
}

.plan,
.plan .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plan .info .text {
  margin-left: 15px;
}
.plan-type {
  color: hsl(223, 47%, 23%);
}
.price {
  color: hsl(224, 23%, 55%);
}
button {
  border: none;
  background: none;
  font-family: "Red Hat Display", sans-serif;
}
button:hover {
  cursor: pointer;
}
button.change {
  color: hsl(245, 75%, 52%);
  font-weight: bold;
  text-decoration: underline;
}
button.change:hover {
  color: hsl(245, 75%, 70%);
}
button.proceed {
  background-color: hsl(245, 75%, 52%);
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}

button.proceed:hover {
  background-color: hsl(245, 75%, 70%);
}

button.cancel {
  color: hsl(224, 23%, 55%);
  font-weight: bold;
}
button.cancel:hover {
  color: hsl(223, 47%, 23%);
}
/* .payment {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.plan {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
} */
